<div class="py-4">
</div>    
<div class="row">
    <div class="py-4">
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/u/j/236x260/ujisato-eight-door-wardrobe-with-two-drawers-by-mintwud-ujisato-eight-door-wardrobe-with-two-drawers-p1sgou.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.15,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe1',1,15499,42)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.25,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe2',1,25499,43)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/u/j/236x260/ujisato-eight-door-wardrobe-with-two-drawers-by-mintwud-ujisato-eight-door-wardrobe-with-two-drawers-p1sgou.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" data-id="1" (click) = "submitCart('wardrobe3',1,15499,44)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe4',1,15499,45)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe5',1,15499,46)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/u/j/236x260/ujisato-eight-door-wardrobe-with-two-drawers-by-mintwud-ujisato-eight-door-wardrobe-with-two-drawers-p1sgou.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
s
            <figcaption class="figure-caption text-center">
                Rs.15,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe6',1,15499,47)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/u/j/236x260/ujisato-eight-door-wardrobe-with-two-drawers-by-mintwud-ujisato-eight-door-wardrobe-with-two-drawers-p1sgou.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe7',1,15499,48)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe8',1,15499,49)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.15,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe9',1,15499,50)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii1.pepperfry.com/media/catalog/product/n/a/236x260/nariko-three-door-wardrobe-in-wenge-finish-by-mintwud-nariko-three-door-wardrobe-in-wenge-finish-by--cplr40.jpg" class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.15,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('wardrobe10',1,15499,51)">Add to Cart</button>
        </figure>
    </div>
</div>
