<div class="py-4">
</div>
<div class="row">
    <div class="py-4">
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-mdf-decorative-mosiac-mirror-by-global-glory-multicolour-mdf-decorative-mosiac-mirror-by-xxrl58.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.1,599
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor1',1,1599,32)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-resin-cow-for-bonsai-decoration-by-wonderland-multicolour-resin-cow-for-bonsai-decoratio-kdaoix.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.2,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor2',1,2599,33)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-mdf-decorative-mosiac-mirror-by-global-glory-multicolour-mdf-decorative-mosiac-mirror-by-xxrl58.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor3',1,1599,34)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-resin-cow-for-bonsai-decoration-by-wonderland-multicolour-resin-cow-for-bonsai-decoratio-kdaoix.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor4',1,1599,35)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-mdf-decorative-mosiac-mirror-by-global-glory-multicolour-mdf-decorative-mosiac-mirror-by-xxrl58.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor5',1,1599,36)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-resin-cow-for-bonsai-decoration-by-wonderland-multicolour-resin-cow-for-bonsai-decoratio-kdaoix.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor6',1,1599,37)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-mdf-decorative-mosiac-mirror-by-global-glory-multicolour-mdf-decorative-mosiac-mirror-by-xxrl58.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor7',1,1599,38)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-resin-cow-for-bonsai-decoration-by-wonderland-multicolour-resin-cow-for-bonsai-decoratio-kdaoix.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor8',1,1599,39)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-mdf-decorative-mosiac-mirror-by-global-glory-multicolour-mdf-decorative-mosiac-mirror-by-xxrl58.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor9',1,1599,40)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/m/u/236x260/multicolour-resin-cow-for-bonsai-decoration-by-wonderland-multicolour-resin-cow-for-bonsai-decoratio-kdaoix.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">

            <figcaption class="figure-caption text-center">
                Rs.1,599</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click)="submitCart('decor10',1,1599,41)">Add to Cart</button>
        </figure>
    </div>
</div>