<div class="py-4">
  </div>
<div class="row" id="about">
  <section class="about-us text-center col-sm-12 col-md-12">
     <h4> ABOUT US </h4>
     <span class="outer-line"></span>
     <span class="fas fa-star" aria-hidden="true" style="margin:10px 0"></span>
     <span class="outer-line"></span>
     <p  style =" font-size: 20px" class="bio">We provide 100% customer satisfaction and quality assurance.We ship across various countries in India which include Bengaluru, Mumbai, Navi Mumbai, Delhi, Hyderabad, Pune, Chennai, Gurgaon, Kolkata, Noida, Goa, Ghaziabad, Ahmedabad, Coimbatore, Faridabad, Jaipur, Lucknow, Kochi, Visakhapatnam, Chandigarh, Vadodara, Nagpur, Thiruvananthapuram, Indore, Mysore, Bhopal, Surat, Jalandhar, Patna, Ludhiana, Nashik, Madurai, Kanpur, Aurangabad, Imphal, Hubli, Guwahati and many more </p>
  </section>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Popular Categories</h5>
        <p class="card-text">Queen sized veds,King sized beds,Wardrobes,Lamps,Paintings,Wall decor,Sofa cum bed,Wall stickers,Photo frames,</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text">Helpline number- 9929835876</p>
        <p class ="card-text">Email Id-homedecor@gmail.com</p>
      </div>
    </div>
  </div>
</div>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 Home decor E-Retail Pvt. Ltd. All Rights Reserved</p>
</footer>