<div class="py-4">
  </div>
  <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
    <div class="card-body">
      <form #userForm="ngForm" data-toggle="validator" role="form" id="form-reset" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email-Id*</label>
          <input type="text" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required
            [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Enter Email-Id">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors.required">
              Email-Id is required!
            </div>
            <div [hidden]="!email.errors.pattern">
              Must be a valid pattern!
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="pswd">Password*</label>
          <input type="password" class="form-control" id="pswd" pattern=".{6,}" required [(ngModel)]="model.pswd"
            name="pswd" #pswd="ngModel" placeholder="Enter Password">
          <div *ngIf="pswd.errors && (pswd.dirty || pswd.touched)" class="alert alert-danger">
            <div [hidden]="!pswd.errors.required">
              Password is required!
            </div>
            <div [hidden]="!pswd.errors.pattern">
              Must have 6 or more characters!
            </div>
          </div>
        </div>
        
        <button [disabled] = "!userForm.form.valid" type="submit" class="btn btn-success"  >Login</button>
      </form>
    </div>
  </div>