 
<div class="py-4">
</div>    
<div class="row">
    <div class="py-4">
    </div>    
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/v/e/236x260/venus-queen-size-bed-with-high-headboard-in-brown-colour-by-mintwud-venus-queen-size-bed-with-high-h-yd7sjz.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart( 'bed1' ,1,10499,1)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/a/i/236x260/aiko-single-bed-in-walnut-finish-by-mintwud-aiko-single-bed-in-walnut-finish-by-mintwud-pjgfc2.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed2' ,1,5499,2)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src=" https://ii3.pepperfry.com/media/catalog/product/v/a/236x260/valeria-king-size-bed-with-upholstered-headboard-in-oak-finish-by-casacraft-valeria-king-size-bed-wi-fn3xx3.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed3' ,1,5499,3)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/k/a/236x260/kaori-king-size-storage-bed-in-wenge-finish-by-mintwud-kaori-king-size-storage-bed-in-wenge-finish-b-sxh794.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed4' ,1,5499,4)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/a/l/236x260/aline-queen-size-bed-in-sandy-brown-colour-by-casacraft-aline-queen-size-bed-in-sandy-brown-colour-b-zo9aqk.jpg"
                alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed5' ,1,5499,5)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/a/i/236x260/aiko-single-bed-in-walnut-finish-by-mintwud-aiko-single-bed-in-walnut-finish-by-mintwud-pjgfc2.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed6' ,1,5499,6)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/v/e/236x260/venus-queen-size-bed-with-high-headboard-in-brown-colour-by-mintwud-venus-queen-size-bed-with-high-h-yd7sjz.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed7' ,1,5499,7)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/a/l/236x260/aline-queen-size-bed-in-sandy-brown-colour-by-casacraft-aline-queen-size-bed-in-sandy-brown-colour-b-zo9aqk.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed8' ,1,5499,8)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/v/e/236x260/venus-queen-size-bed-with-high-headboard-in-brown-colour-by-mintwud-venus-queen-size-bed-with-high-h-yd7sjz.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed9' ,1,5499,9)">Add to Cart</button>
        </figure>
    </div>


    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/a/i/236x260/aiko-single-bed-in-walnut-finish-by-mintwud-aiko-single-bed-in-walnut-finish-by-mintwud-pjgfc2.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed10' ,1,5499,10)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src=" https://ii3.pepperfry.com/media/catalog/product/v/a/236x260/valeria-king-size-bed-with-upholstered-headboard-in-oak-finish-by-casacraft-valeria-king-size-bed-wi-fn3xx3.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed11' ,1,5499,11)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/k/a/236x260/kaori-king-size-storage-bed-in-wenge-finish-by-mintwud-kaori-king-size-storage-bed-in-wenge-finish-b-sxh794.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed12' ,1,5499,12)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/a/l/236x260/aline-queen-size-bed-in-sandy-brown-colour-by-casacraft-aline-queen-size-bed-in-sandy-brown-colour-b-zo9aqk.jpg"
                alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed13' ,1,5499,13)">Add to Cart</button>
        </figure>
    </div>

    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii3.pepperfry.com/media/catalog/product/a/i/236x260/aiko-single-bed-in-walnut-finish-by-mintwud-aiko-single-bed-in-walnut-finish-by-mintwud-pjgfc2.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed14' ,1,5499,14)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/v/e/236x260/venus-queen-size-bed-with-high-headboard-in-brown-colour-by-mintwud-venus-queen-size-bed-with-high-h-yd7sjz.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.10,499</figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed15' ,1,5499,15)">Add to Cart</button>
        </figure>
    </div>
    <div class="col-md-3 text-center">
        <figure class="figure">
            <img src="https://ii2.pepperfry.com/media/catalog/product/a/l/236x260/aline-queen-size-bed-in-sandy-brown-colour-by-casacraft-aline-queen-size-bed-in-sandy-brown-colour-b-zo9aqk.jpg"
                class="figure-img img-fluid rounded" alt="Responsive image">
            <figcaption class="figure-caption text-center">
                Rs.5,499
            </figcaption>
            <br>
            <button class="btn btn-primary my-cart-btn" (click) = "submitCart('bed16' ,1,5499,16)">Add to Cart</button>
        </figure>
    </div>
</div>
